[class*="__container"]{
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
[class*="__body"]{
	width: 200px;
	height: 200px;
	border-radius: 15px;
	background: rgb(126,126,139);
	background: linear-gradient(163deg, rgba(126,126,139,0.7553615196078431) 0%, rgba(189,191,191,1) 45%, rgba(0,212,255,1) 100%);
	padding: 20px;
}
[class*="__body"]:not(:last-child){
	margin-bottom: 50px;
}

.title__jorney{
	font-size: 25px;
	text-align: center;
	border-radius: 5px;
	text-align: center;
}
.jorney__link{
	display: inline-block;
	padding: 5px;
	background-color: burlywood;
	border-radius: 5px;
}
.jorney__link:hover{
	transform: scale(1.5);
	transition: all 1.7s;
}
.block__title{
	background-color: brown;
	padding: 20px 0px;
	margin-bottom: 30px;
	
}
.title__hometask{
	text-align: center;
}
.block__box{
	text-align: center;
	padding: 15px;
}

.box__column-1,
.box__column-2,
.box__column-3{
	display: inline-block;
	text-align: center;

}
.box__column-1,
.box__column-2{
	margin-right: 150px;
}
.column-1__element:not(:last-child){
	margin-bottom: 50px;
}
.column-1__element,
.column-2__element,
.column-3__element{
	vertical-align: top;
	background-color: rgb(126,126,139,0.2);
	transition: all 0.1s ease 0s;
	perspective-origin: center;
	perspective: 600px;
	transform-style: preserve-3d;
}
.column-2__element:not(:last-child){
	margin-bottom: 50px;
}
.column-3__element:not(:last-child){
	margin-bottom: 50px;
}

.element-translate__body:hover{
	transform: translate(-120%,10%);
}
.element-scale__body:hover{
	transform: scale(1.5);
}
.element-rotate__body:hover{
	transform:rotate(195deg) ;
}
.element-skew__body:hover{
	transform:skew(30deg,163deg) ;
}
.element-matrix__body:hover{
	transform:matrix(1,2,0,3,1,3) ;
}
.element-backface-visability__body{
	position: relative;
	width: 200px;
	height: 200px;
	transition: all 0.8s ease 0s;
	transform-style: preserve-3d;
	
}
.element-backface-visability__front,
.element-backface-visability__back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
.element-backface-visability__front{
	z-index: 2;
	transform: rotateY(0deg);
	background-color: #77608d;
	backface-visibility: hidden;
	border-radius: 15px;
}
.element-backface-visability__back{
	transform: rotateY(-180deg);
	background-color: linear-gradient(163deg, rgba(126,126,139,0.7553615196078431) 0%, rgba(189,191,191,1) 45%, rgba(0,212,255,1) 100%);
}
.element-backface-visability:hover .element-backface-visability__body{
	transform: rotateY(180deg);
}

.element-transform-origin__body:hover{
	transform: rotate(-30deg);
}
.element-perspective__body:hover{
	transform: rotateX(55deg);
}
.element-translated3d__body{
	transform: translate3d(0px, 0px, 0px);
}
.element-translated3d__body:hover{
	transform: translate3d(40px, 40px, 20px);
}
.element-scale3d__body{
	transform: scale3d(1,1,1);
}
.element-scale3d__body:hover{
	transform: scale3d(2,2,5);
}
.element-rotate3d__body{
	transform: rotate3d(1,1,1,0deg);
}

.element-rotate3d__body:hover{
	transform: rotate3d(6,5,6,78deg);
}
.element-matrix3d__body:hover{
transform:matrix3d(0.5,0,-0.866025,0,0.595877,1.2,-1.03209,0,0.866025,0,0.5,0,25.9808,0,15,1);
}
.element-multiplay3d__body:hover{
	transform: translate3d(30px,30px,20px) rotate3d(6,1,2,70deg);
}

.element-transform-style__body:hover{
	transform: rotateX(46deg);
}
