@import url(reset.css);



div {
	color: rgba(19, 132, 202, 0.416);
}
a{
	color: darkred;
}
h1,h2{
	color: rgb(143, 75, 189);
}

.armor {
	color: darkgreen;
}

#leo,
#twerdyj{
	color: rgb(191, 140, 52);
}

div.gun{
	color: rgb(200, 100, 143);
}
.leopard .description{
	color: rgb(233, 180, 111);
}
.simple.just{                   
	color: rgb(96, 86, 123);
}
.text,
.charity{
	color: rgb(49, 136, 74);
}
.twerdyj .description p{
	color: rgb(249, 40, 214);
}
.abrams .description *{
	color: rgba(219, 9, 9, 0.825);
}

.homtask>p{
	color: red;
}
.homtask~p{
	color: black;
}
.homtask+p{
	color: green;
}
[class*="__container"]{
	color:rgb(17, 121, 211)
}