@import url(reset.css);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body{
	font-family:"Poppins",sans-serif;
	color:#6C757D;
	font-size: 14px;
	font-weight: 300;
}
.wide{
	max-width: 100%;
	margin-bottom: 120px;
}
.pict img{
	width: 100%;
}

[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;

	padding-left: 15px;
	padding-right: 15px;
}

.page__text-box {
	max-width: 816px;
	margin: 0 auto;
	margin-bottom: 120px;

}
.page__text-box p{
	line-height: 1.6;
	margin-bottom: 40px;
}
.page__text-box h2{
	max-width: 605px;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.8;
	margin-bottom: 110px;
}
.page__text-box .last{
	margin-bottom: 110px;
}


.page__images {
	max-width: 100%;
	font-size: 0;
}
.page__images .image-1 {
	margin-right: 30px;
	margin-bottom: 100px;

}
.page__images .image-2 {
	margin-bottom: 100px;

}
.navigations{
	max-width: 50%;
	margin: 0 auto;
	padding-bottom: 105px;
	text-align: center;
}
.navigations .button{
	line-height: 1.6;
	font-size:  20px ;
	font-weight: 700;
	text-align: center;
	max-width: 100% ;
	padding: 15px;
	border: solid 4px royalblue;
	border-radius: 10px;
	margin-left: 25px;
	background-color: rgb(0, 0, 255);
	box-shadow: 5px 15px 5px 5px greenyellow;
	opacity: 0.6;

}